<style>
.left-of-term, .term, .right-of-term {
  white-space: nowrap;
  font-family: monospace;
}
.left-of-term {
  text-align:right;
}
.term {
  text-align:center;
}
.right-of-term {
  text-align:left;
}
.term-link{
  text-decoration: none;
}
</style>

<h1>Aligned Titles containing "{{term}}" in {{year}}</h1>
<p class="description">{{description}}</p>
<table>
  {{#each results}}
  <tr>
    <td class="left-of-term">{{titleParts.[0]}}</td>
    <td class="term"><a class="term-link" href="{{url}}">{{titleParts.[1]}}</a></td>
    <td class="right-of-term">{{titleParts.[2]}}</td>
  </tr>
  {{/each}}
</table>
