<style>
.left-of-term, .term, .right-of-term {
  white-space: nowrap;
  font-family: monospace;
}
.left-of-term {
  text-align:right;
}
.term {
  text-align:center;
}
.right-of-term {
  text-align:left;
}
.term-link{
  text-decoration: none;
}
</style>

<h1>Aligned Search Results containing "{{term}}"</h1>
<p class="description">{{description}}</p>

<form>
  term:<input type="text" name="term" value="{{term}}">
  year:<input type="text" name="year" value="{{year}}">
  sortBy:<select name="sortBy">
    {{#each sortBysWithSelected}}
      <option {{#if this.selected}} selected {{/if}}>{{this.sortBy}}</option>
    {{/each}}
  </select>
  source:<select name="source">
    {{#each sourcesWithSelected}}
      <option {{#if this.selected}} selected {{/if}}>{{this.source}}</option>
    {{/each}}
  </select>
  <input type="submit" value="Submit">
</form>

<table>
  {{#each results}}
  <tr>
    <td class="left-of-term">{{textParts.[0]}}</td>
    <td class="term"><a class="term-link" href="{{url}}">{{textParts.[1]}}</a></td>
    <td class="right-of-term">{{textParts.[2]}}</td>
  </tr>
  {{/each}}
</table>
