<style>
.left-of-term {
  text-align:right;
  white-space: nowrap"
}
.term {
  text-align:center;
  white-space: nowrap
}
.right-of-term {
  text-align:left;
  white-space: nowrap
}
</style>

<h1>Aligned Titles containing "{{term}}" in {{year}}</h1>

<table>
  {{#each alignedTitles}}
  <tr>
    <td class="left-of-term">{{this.[0]}}</td>
    <td class="term">{{this.[1]}}</td>
    <td class="right-of-term">{{this.[2]}}</td>
  </tr>
  {{/each}}
</table>
