<style>
.left-of-term, .term, .right-of-term {
  white-space: nowrap;
  font-family: monospace;
}
.bucket-heading {
  text-align:center;
}
.link{
  text-decoration: none;
}

table tr
{
    border:1px solid black;
}
table {
  border-collapse: collapse;
}

</style>

<h1>Tabulated Article Suggestions</h1>

<h2>Given these articles as exemplars</h2>

<ul>
  {{#each tabulatedArticles.given.examples as |example|}}
  <li><a class="link" href="{{url}}">{{title}}</a></li>
  {{/each}}
</ul>

<p>Score = {{tabulatedArticles.given.score}}<p>

<h2>Suggestions for 'similar' articles based on shared annotations and words</h2>

<table>
  <tr>
    <td></td>
    {{#each tabulatedArticles.knownBuckets as |bucket|}}
      <td class="bucket-heading">{{bucket}}</td>
    {{/each}}
  </tr>
  {{#each tabulatedArticles.tabulatedSuggestions}}
  <tr>
    <td>{{ date }}</td>
    {{#each buckets as |bucket|}}
      <td class="bucket">
        <ul>
        {{#each bucket as |article|}}
          <li><a class="link" href="{{url}}">{{title}}</a> ({{score}})</li>
        {{/each}}
      </ul>
      </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
