<style>
.date-heading {
  white-space: nowrap;
}
.bucket-heading {
  text-align:center;
}
.link{
  text-decoration: none;
}
.seed-list {
  list-style: none;
}
table tr, table td
{
    border:1px solid black;
}
table {
  border-collapse: collapse;
}

</style>

<h1>Tabulated Article Suggestions, {{tabulatedArticles.rangeDescription}}</h1>
<p>Caveats, Caveats, Caveats: does not (yet) properly scan very many articles.</p>
<h2>Given these articles as exemplars, with Similarity Score = {{tabulatedArticles.given.score}}</h2>

<form>
<ul class="seed-list">
  {{#each tabulatedArticles.given.examples as |example|}}
  <li><input type="checkbox" name="uuid" value="{{uuid}}" checked> <a class="link" href="{{url}}">{{title}}</a></li>
{{/each}}
  <li><input type="text" name="uuid" value=""> <input type="submit" value="Add UUID / Update selections"></li>
</ul>

<h2>Suggestions for 'similar' articles based on shared annotations and words</h2>
<p>Grouped by pubDate and similarity score, where 1 is best, 0 is worst. Ignore worse than: <select name="ignorebucketsworsethan">
  {{#each tabulatedArticles.optionsForIgnoreWorseThan as |bucket|}}
  <option value="{{value}}" {{#if selected}} selected {{/if}}>{{value}}</option>
  {{/each}}
</select>
</p>
<table>
  <tr>
    <td></td>
    {{#each tabulatedArticles.knownBuckets as |bucket|}}
      <td class="bucket-heading">{{bucket}}</td>
    {{/each}}
  </tr>
  {{#each tabulatedArticles.tabulatedSuggestions}}
  <tr>
    <td class="date-heading">{{ date }}</td>
    {{#each buckets as |bucket|}}
      <td class="bucket">
        {{#each bucket as |article|}}
          <input type="checkbox" name="uuid" value="{{uuid}}">[{{score}}] - <a class="link" href="{{url}}">{{title}}</a><br>
        {{/each}}
      </td>
    {{/each}}
  </tr>
  {{/each}}
</table>
</form>
